Body {
    background-color: #88D4F220;
}

.list-group-item, h1 {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-color: #0057A8;
}

h1 {
   color: #0B427A;
   font-size: 1.2rem;

}

form {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #0B427A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0B427A90;
    --bs-btn-hover-border-color: #0B427A90;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0B427A50;
    --bs-btn-active-border-color: #0B427A50;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0B427A;
    --bs-btn-disabled-bg: #0B427A;
    --bs-btn-disabled-border-color: #0B427A;
    --bs-gradient: none;
    --bs-btn-bg: #0B427A;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0B427A;
}

.highlight {
    color:#0B427A;
}

@media (max-width: 768px) {
    h1 {
      font-size: 1rem;
    }

    
}